:root {
    --primary: #1e40af;
}

* {
    font-family: "Poppins", sans-serif;
}

/* width */
::-webkit-scrollbar {
    display: none;
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

section {
    padding: 100px 0;
}

.category > a {
    flex-shrink: 0;
}

.navbar {
    background-color: #eff6ff !important;
}

.navbar .navbar-brand {
    color: var(--primary);
    font-size: 18px;
    font-weight: 600;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
}

.btn {
    padding: 10px 40px;
    border-radius: 70px;
}

.btn-primary {
    background-color: var(--primary);
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #1e3a8a;
}

.btn-primary:active,
.btn-outline-primary:active {
    background-color: var(--primary);
}

.search-input {
    border-radius: 70px;
    padding: 0 30px;
}

.hero {
    background-color: #eff6ff;
    padding-bottom: 120px;
}

.hero span {
    font-style: italic;
}

.hero h1 {
    font-weight: bold;
}

.typed-cursor {
    display: none;
}

.hero p {
    padding: 6px 0;
}

.counts .card .card-body {
    padding: 40px;
    text-align: center;
}

.counts .card:hover {
    background-color: var(--primary);
    color: #ffffff;
    transition: all 0.5s ease-in-out;
}

.departments .card .card-body {
    padding: 40px 0;
}

.departments .card {
    width: 200px;
    text-align: center;
    flex-shrink: 0;
}

.box {
    transition: box-shadow 0.2s ease; /* Efek transisi untuk bayangan */
}

.box:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5); /* Mengubah bayangan saat dihover */
}

.comment-item p {
    font-size: 14px;
}
